@font-face {
  font-family: "viga-local";
  src: url(../fonts/Viga.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "viga-local";
}

:root {
  --bg: #393939;
  --main-color: #ff7f00ff;
  --seconde-color: white;
  --text-color: rgb(0, 0, 0);
}

body {
  background-color: var(--bg);
  color: var(--text-color);
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  height: 100vh;
}

/* LOADING SCREEN */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;
}

.loading-screen.fade-out {
  opacity: 0;
  visibility: hidden;
}

.loading-screen div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loading-logo {
  height: 100px;
}

#loading-animation {
  height: 30px;
}

/* MENU-ICON */
.menu-icon-container {
  display: none;
}

/* MENU AND NAVIGATIONS */
.menu-bar-container {
  height: 100%;
}

.menu-bar {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  width: 200px;
  height: 100%;
}

.details {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid var(--main-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 50px;
}

.nav {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: scroll;
}

.nav button {
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(216, 216, 216);
  color: black;
}

.nav button:hover {
  background-color: rgb(255, 171, 88);
}

.nav button:active {
  background-color: rgb(255, 144, 32);
}

.nav button.active {
  background-color: var(--main-color);
}

.details-about-us {
  margin: 10px;
  padding: 10px;
  border-top: 1px solid var(--main-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#alert-btn {
  cursor: pointer;
  border: none;
  padding: 2px;
  border-radius: 10px;
  height: 30px;
  width: 80px;
  color: red;
  background-color: rgb(216, 216, 216);
}

#alert-btn:hover {
  background-color: rgb(196, 0, 0);
}

#alert-btn:active {
  background-color: rgb(255, 36, 36);
}

#about-us-btn {
  cursor: pointer;
  border: none;
  padding: 2px;
  border-radius: 10px;
  height: 30px;
  width: 80px;
  background-color: rgb(216, 216, 216);
}

#about-us-btn:hover {
  background-color: rgb(255, 171, 88);
}

#about-us-btn:active {
  background-color: rgb(255, 144, 32);
}

/* MAIN */
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.content {
  height: 80%;
}

/* SEARCH */
.search-station {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

#search-input {
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  color: black;
}

#search-input::placeholder {
  font-size: 12px;
}

#search-input:focus {
  outline: none;
  border: 2px solid var(--main-color);
}
#clear-search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
}

#clear-search-input:hover {
  background-color: rgb(199, 199, 199);
}

#clear-search-input:active {
  background-color: white;
}

#clear-search-input img {
  padding: 5px;
  height: 50px;
}

/* CONTENT DISPLAY AREA */
.all-content {
  display: none;
}

.all-content.active {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  padding: 10px;
  color: white;
  height: 100%;
}

.all-content.active h2 {
  border-bottom: 1px solid var(--main-color);
}
/* FOR ALL */
#list-of-all-stations,
#display-searched,
.filtered-station {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  margin-top: 10px;
  overflow-y: scroll;
}

.station-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: white;
  justify-content: space-between;
  border-top: 1px solid white;
  padding-top: 4px;
}

.dont-display {
  display: none;
}

.each-station {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

.each-station:hover {
  background-color: var(--main-color);
}

.each-station:active {
  background-color: #ff962d;
}

/* CATEGORIES */
.categories-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.common-category {
  margin: 10px;
}

#frequency,
#name {
  margin: 2px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#frequency:hover,
#name:hover {
  background-color: var(--main-color);
}

#frequency:active,
#name:active {
  background-color: #ffa041;
}

#categories-btn {
  margin: 10px;
  padding: 10px;
  background-color: rgb(216, 216, 216);
  cursor: pointer;
  color: black;
  border-radius: 10px;
}

#categories-btn:hover {
  background-color: rgb(199, 199, 199);
}

#categories-btn:active {
  background-color: white;
}

.categories-options {
  display: none;
}
.categories-container {
  position: relative;
}

.categories-options.active {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  position: absolute;
  top: 100%;
  z-index: 5;
}

.select-category {
  border-radius: 10px;
  width: inherit;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 10px;
}

.select-category p {
  text-align: center;
}

.select-category:hover {
  background-color: var(--main-color);
}

.select-category:active {
  background-color: #ff962d;
}

.found {
  color: var(--main-color);
}

.not-found {
  color: var(--main-color);
}

/* AUDIO PLAYER INTERFACE */
.player {
  padding: 4px 2px;
  border-radius: 10px;
  background-color: var(--main-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  overflow: hidden;
  padding-right: 10px;
}

/* STATION DETAILS */
.station-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 10px;
  height: 100px;
  width: 150px;
  border: 1px solid rgba(255, 255, 255, 0.381);
}

/* AUDIO ANIMATIONS */
.audio-animation {
  display: none;
  height: 20px;
  overflow: hidden;
}

.audio-animation.active {
  display: flex;
}

.audio-animation div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

/* STATION DETAILS */
.streaming-station-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.streaming-station-details h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#station-location {
  font-style: italic;
  font-size: small;
  color: black;
}

#station-frequency {
  padding: 0 5px;
  margin-bottom: 2px;
  background-color: white;
  color: black;
  border-radius: 4px;
}

/* AUDIO CONTROLS */
.audio-controls {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.audio-controls div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.audio-controls div img {
  height: 30px;
}

#audio-play img,
#audio-stop img {
  height: 50px;
}

.audio-controls div:hover {
  background-color: rgb(199, 199, 199);
}

.audio-controls div:active {
  background-color: white;
}

#audio-play {
  display: flex;
}

#audio-stop {
  display: none;
}

/* ALL POP UP MODALS */

/* ALERT MODAL */
#alert-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.385);
  backdrop-filter: blur(5px);
}

.alert-modal-wrapper {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
}

.alert-modal-wrapper p {
  margin-bottom: 10px;
}

.alert-header {
  border-top: 1px solid var(--main-color);
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#disclaimer {
  color: red;
}

.alert-note h4 {
  color: var(--main-color);
  margin-top: 10px;
}

#alert-note-hr {
  border-top: 1px solid var(--main-color);
}

.close-alert-modal-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1px solid var(--main-color);
}

#close-alert-modal {
  height: 40px;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border: 1px solid red;
  border-radius: 50%;
}

#close-alert-modal:hover {
  background-color: red;
}

#close-alert-modal:active {
  background-color: rgb(194, 0, 0);
}

/* ABOUT US MODAL */
#about-us-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.385);
  backdrop-filter: blur(5px);
}

.about-us-modal-wrapper {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.close-about-us-modal-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1px solid var(--main-color);
}

#close-about-us-modal {
  height: 40px;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border: 1px solid red;
  border-radius: 50%;
}

#close-about-us-modal:hover {
  background-color: red;
}

#close-about-us-modal:active {
  background-color: rgb(194, 0, 0);
}

.about-us-content {
  border-top: 1px solid var(--main-color);
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#app-name {
  text-align: center;
}

#app-initials {
  font-style: italic;
}

.version-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#version {
  padding: 1px 5px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.developer-details {
  margin-top: 10px;
}

.developer-details,
.contact {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.developer-details a,
.contact a {
  color: var(--main-color);
}

.developer-details a:hover,
.contact a:hover {
  color: rgb(204, 102, 0);
}

.developer-details a:active,
.contact a:active {
  color: rgb(255, 152, 49);
}

/* AT MOBILE SCREEN */

@media (max-width: 576px) {
  .menu-icon-container {
    display: flex;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;
  }

  .menu-icon-wrapper {
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
  }

  .menu-icon-wrapper:active {
    background-color: rgb(210, 210, 210);
  }

  #menu-icon {
    height: 40px;
  }

  .menu-bar-container {
    display: none;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vh;
    background-color: rgba(0, 0, 0, 0.33);
    backdrop-filter: blur(5px);
    z-index: 8;
  }

  .menu-bar {
    margin-left: 10px;
    height: 90%;
  }

  .alert-modal-wrapper,
  .about-us-modal-wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }
}
